<?xml version='1.0' encoding='utf-8'?>
<widget id="com.andrealazzarotto.tinymce" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>TinyMCE</name>
    <description>
        An instance of TinyMCE packaged to be used as a standalone app.
    </description>
    <author email="andrea.lazzarotto@gmail.com" href="https://andrealazzarotto.com">
        Andrea Lazzarotto
    </author>
    <icon src="res/icon.png" />
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="osx">
        <hook src="patch/modify_window.sh" type="after_prepare" />
    </platform>
    <engine name="osx" spec="~4.0.1" />
</widget>
